img {
  width: 100px;
}

.container {
  display: flex;
}
.characters {
  margin-right: 5px;
  text-align: center;
  background-color: rgb(211,211,211);
  width: 100px;
  height: auto;
}

#hero{
  align-items: left;
}

#enemy{
  display:flex;

}

#enemy .characters{
  background: red;
}
.title{
  font-weight: bold;
  font-size: 13pt;
  font-family: Arial;

}
h1{
  /* text-align: justify; */
  text-indent: 5em;
}

body {
  background-image:url("FullMetalAbril.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  height: inherit;



}
