img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
}
.characters {
  margin-right: 5px;
  text-align: center;
  background-color: rgb(211,211,211);
  width: 100px;
  height: auto;
}

#hero{
  align-items: left;
}

#enemy{
  display:flex;

}

#enemy .characters{
  background: red;
}
.title{
  font-weight: bold;
  font-size: 13pt;
  font-family: Arial;

}
h1{
  /* text-align: justify; */
  text-align: center;
}

body {
  background-image:url("FullMetalAbril.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  height: auto;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
